body{
    background-color:antiquewhite;
}
menu{
    display: flex;
    justify-content: space-around;
}
description{
    display: none;
}
menu a {
    border: 1px solid #000; 
    background-color:bisque;
    padding-left: 80px;
    padding-right: 80px;
    padding: 10px;
    text-decoration: none; 
    color: #000;
}
div h1{
    display: block;
    text-align: center;
}
div h2{
    display: block;
    text-align: center;
}
div h3{
    display: block;
    text-align: center;
}
.conteiner {
    display: flex;
    justify-content: space-between;
}
.conteiner div{
    margin: 20px;
}
.content{
    display: flex;
}